.main-nav {
    height: 70px;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    position: absolut;
    align-items: center;
    padding: 0 40px;
    margin: 0px;
}

.menu-container {
    width: 55%;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: nowrap;
}

.nav-logo-text {
    width: 30%;
    color: #fff;
}

.main-menu {
    max-width: 300px;
    display: flex;    
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-link {
    font-size: 18px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);

    &.active {
        font-weight: bold;
        color: #FFF;
    }

    &:hover {
        color: #FFF;
    }
}

@media (max-width: 768px) {
    .menu-container {
        justify-content: flex-end;
    }
}

// mobile breakpoints
@media (max-width: 576px) {
    .menu-container {
    }
}

